{% extends "accounts/base.html" %}
{% block title %}Login |{% endblock title %}Login |
{% block content %}

<main class="main-content">
    <header class="login-header">
        <h1>Login</h1>
    </header>

    <div class="form-group">
        <div class="input-content">
            <input type="text" id="phone" placeholder=" " required>
            <label for="phone">Celular</label>
            <i class="fa-solid fa-phone"></i>
        </div>
    </div>

    <div class="form-group">
        <div class="input-content">
            <input type="password" id="password" placeholder=" " required>
            <label for="password">Senha</label>
            <i class="fa-solid fa-lock"></i>
        </div>
    </div>

    <div class="button-content">
        <button type="button">Entrar</button>
    </div>

    <footer class="login-footer">
        <a href="#">Esqueceu a senha?</a>
        <p>Não tem conta? <a href="{% url "accounts:register" %}">Cadastre-se aqui</a></p>
    </footer>
</main>
{% endblock content %}
