{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Login |{% endblock title %}
{% block content %}

<main class="main-content">
    <header class="login-header">
        <h1>Entrar</h1>
        <p>Digite seu celular para continuar</p>
    </header>

    <div class="form-group">
        <label for="phone">Celular</label>
        <div class="input-content">
            <input type="text" id="phone" placeholder="(11) 91234-5678" required>
            <i class="fa-solid fa-phone"></i>
        </div>
    </div>

    <div class="button-content">
        <button type="button">Enviar código</button>
    </div>
</main>
{% endblock content %}
