{% extends "accounts/base.html" %}
{% load static %}
{% block title %}Código WhatsApp |{% endblock title %}
{% block content %}
<main class="main-content">
    <header class="login-header">
        <h1>Digite o código</h1>
        <p>Enviamos um código para o seu WhatsApp</p>
    </header>

    <form>
        <div class="form-group">
            <div class= "otp-container">
                <input type="text" class = 'otpInput' id = 'optInput1' inputmode="numeric" maxlength="1" placeholder="0" required>
                <input type="text" class = 'otpInput' id = 'optInput2' inputmode="numeric" maxlength="1" placeholder="0" required>
                <input type="text" class = 'otpInput' id = 'optInput3' inputmode="numeric" maxlength="1" placeholder="0" required>
                <input type="text" class = 'otpInput' id = 'optInput4' inputmode="numeric" maxlength="1" placeholder="0" required>
            </div>
        </div>

        <div class="button-content">
            <button type="submit">Confirmar código</button>
        </div>
    </form>

    <div class="footer-content">
        <p>Não recebeu o código?</p>
        <a href="#">Reenviar código</a>
    </div>
</main>
{% endblock content %}
