{% extends "global/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock extra_css %}

{% block title %}Agendamentos{% endblock title %}

{% block content %}

    {% include "main/partials/header.html" %}

    <main>

        {% include "main/partials/hero.html" %}
        {% include "main/partials/carousel.html" %}
        {% include "main/partials/services.html" %}
        {% include "main/partials/appointment.html" %}
    </main>

    <footer class="footer-content">
    </footer>

{% endblock content %}