{% extends "global/base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/services.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/appointment.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
{% endblock extra_css %}

{% block title %}Agendamentos{% endblock title %}

{% block content %}

    {% include "main/partials/header.html" %}

    <main>

        {% include "main/partials/hero.html" %}
        {% include "main/partials/carousel.html" %}
        {% include "main/partials/services.html" %}
        {% include "main/partials/appointment.html" %}
    </main>

    {% include "main/partials/footer.html" %}

{% endblock content %}