<section id="appointment" class="appointment">
    <div class="container">
        <div class="appointment-header">
            <h2>Agende seu horário</h2>
        </div>
        
        <div class="appointment-container">
            <div class="steps">
                
                <div class="step active" data-step='1'>
                    <span><i class="fa-solid fa-hand-sparkles"></i></span>
                    <p>Serviço</p>
                </div>

                <div class="line" data-step='2'></div>

                <div class="step" data-step='2'>
                    <span><i class="fa-solid fa-calendar"></i></span>
                    <p>Data/Horário</p>
                </div>

                <div class="line" data-step='3'></div>

                <div class="step photo-indicator" data-step='3'>
                    <span><i class="fa-regular fa-image photo-placeholder-icon"></i></span>
                    <p>Foto</p>
                </div>

                <div class="line last-line" data-step='4'></div>
                
                <div class="step last-step" data-step='4'>
                    <span><i class="fa-regular fa-calendar-check"></i></span>
                    <p>Confirmar</p>
                </div>

            </div>

            <div class="appointment-content">
                {% include "main/partials/appointment_steps.html" %}
            </div>
        </div>
    </div>
</section>