<section id="our-work" class="container-carousel">
    <h2 class="carousel-title">
            Trabalhos realizados
    </h2>
    <div class="carousel" aria-label="Carrossel de serviços">
        <div class="track">
            <div class="group">
                {% for photo in carousel_images %}
                <img src="{{ photo.image.url }}" alt="imagem" class="card">
                {% endfor %}
            </div>
            <div class="group" aria-hidden="true">
                {% for photo in carousel_images %}
                <img src="{{ photo.image.url }}" alt="imagem" class="card">
                {% endfor %}
            </div>
        </div>
    </div>
</section>