<header class="header-content">

    <nav class="nav-content">

        <a href="#services">Serviços</a>
        
        <a href="#our-work">Trabalhos</a>

        
        <div class="dropdown">
            <button class="profile-button" type="button">
                <i class="fa-sharp-duotone fa-solid fa-circle-user"></i>
            </button>   
                
            <div class="dropdown-menu">
                <h3>Bem-vinda</h3>
                <div class="dropdown-links">
                    <a href=""><i class="fa-solid fa-clock-rotate-left"></i> Historico</a>
                    <a href=""><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
                </div>
            </div>
        </div>
        

    </nav>

</header>
