{% load static %}

<header id="header" class="header-content">
    <div class="logo">
        <img src="{% static "global/images/logo.png" %}" alt="logo">
    </div>
    <nav class="nav-content">
        
        <a href="#our-work">Trabalhos</a>

        <a href="#services">Serviços</a> 

        <div class="dropdown">
            <button class="profile-button" type="button">
                <i class="fa-sharp-duotone fa-solid fa-circle-user"></i>
            </button>   
                
            {% include "main/partials/profile_dropdown.html" %}

        </div>
        

    </nav>

</header>
