<section id="services" class="services">
    <div class="services-header">
            <h2>Serviços</h2>
            <p>Conheça as soluções que oferecemos.</p>
        </div>
    <div id="container" class="service-container">
        <div class="tab-buttons">
            <button class="tab-btn active" content-id="nails">
                Manicure
            </button>
            
            <button class="tab-btn" content-id="lash_brow">
                Lash & Brow
            </button>

        </div>

        <div class="tab-contents">
            <div class="content show" id="nails">
                <div class="services-grid">

                    {% for service in services %}

                        {% if service.category.slug == "nails" %}

                            {% include "main/partials/service_card.html"%}

                        {% endif %}        

                    {% endfor %}

                </div>
            </div>

            <div class="content" id="lash_brow">
                <div class="services-grid">

                    {% for service in services %}

                        {% if service.category.slug == "lash_brow" %}

                            {% include "main/partials/service_card.html"%}

                        {% endif %}         

                    {% endfor %}

                </div>
            </div>

        </div>
        
    </div>
</section>